
<div class="genre_most_games">
    <% @genres.each do |genre| %>
        <h1><%= link_to genre.genre_type, genre_games_path(genre.id) %></h1>
    <% end %>
</div>


<div class="go_back_link">
    <%= link_to "go back", user_path(current_user.id) %>
</div>