<h1>Welcome to your own Video Game Collection!</h1>

<h3>Added Genres</h3>
<% @user.genres.each do |genre| %>
    <ul>
        <li><%= genre.genre_type %></li>
    </ul>
    <% end %>

    <%= link_to "Add a Genre", new_user_genre_path(@user) %>