<h1>Welcome to your own Video Game Collection!</h1>

<%= link_to 'Add a game', new_game_path %> |
<%= link_to 'Add a genre', new_genre_path %> |
<%= link_to 'logout', sessions_path, method: 'delete' %>