<h1>Edit Game Details</h1>

<%= form_tag @game, method: 'patch' do %>
    <% if @game.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @game.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @game.errors.empty? %>
        <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
        <%= render 'form' %>
    </div>
<% end %>

<br>

<%= link_to "go back", user_game_path(current_user.id, @game) %>