<h1><%= current_user.name %>'s Game Collection </h1>

<ul>
    <% current_user.games.each do |game| %>
        <li><%= link_to game.title, user_game_path(current_user.id, game.id) %></li>
    <% end %>
</ul>

<%= link_to "go back", user_path(current_user.id) %>